<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>

        <li>
          <s>Create three new components: GameControl, Odd and Even</s>
        </li>

        <li>
          <s>The GameControl Component should have buttons to start and stop the game</s>
        </li>
        <li>
          <s>When starting the game, an event (holding a incrementing number) should get emitted each second (ref = setInterval())</s>
        </li>
        <li>
          <s>The event should be listenable from outside the component</s>
        </li>
        <li>
          <s>When stopping the game, no more events should get emitted (clearInterval(ref))</s>
        </li>
        <li>
          <s>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component
            (on even numbers)</s>
        </li>
        <li>
          <s>Simply output Odd - NUMBER or Even - NUMBER in the two components</s>
        </li>
        <li>
          <s>Style the element (e.g. paragraph) holding your output text differently in both components</s>
        </li>
      </ol>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>THE GAME IS ON!</h1>
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
      <hr>
      <div class="col-xs-6">
        <app-odd-results *ngFor="let oddNumber of oddNumbers" [number]="oddNumber">
        </app-odd-results>
      </div>
      <div class="col-xs-6">
        <app-even-results *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even-results>
      </div>
    </div>
  </div>
</div>
